<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--使用xml标签的方式创建一个bean-->
    <!--<bean id="personController" class="com.myspring.annotation.controller.PersonController"></bean>-->
    <!--使用注解的使用，告诉SPring从哪个包开始扫描-->
    <context:component-scan base-package="com.myspring">
       <!--<context:exclude-filter type="assignable" expression="com.myspring.annotation.controller.PersonController"/>-->
       <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>--> <!--排除某个注解的写法-->
    </context:component-scan>
</beans>